<template>
<section>
<div id="app">
      <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/websites">Websites</router-link>
    </div>
<router-view></router-view>
</div>
</section>
</template>
<style>
#app{
width: 500px;
  text-align: center;
}

#nav {
  display: flex;
  padding: 30px 0;
  justify-content: space-evenly;
  background: #2c3e50;
  width: 100%;
}

#nav a {
  font-weight: bold;
  color: #9ccf4a;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #fff;
}
</style>






