<template>
  <section>
    <div id="main-content">
    <h2>Crypto Police</h2>
<button id="request-cta" @click="getApi">Get API Request</button>
<h4>The url you are visiting is :</h4>
<p class="response-url">
  {{ currenturl }}
</p>
        <ul id ="response" v-show="check" v-if="responsecolor && responsedate">
          <li>Website color : {{responsecolor}}</li>
          <li>Website live date : {{responsedate}}</li>
        </ul>
  <button v-show="check" class="clear-content" v-on:click="clearContent" v-if="responsecolor && responsedate">Clear Data</button>
  <div class="submit-websites-cta">
    <input type="text" v-model="websiteItem">
    <button @click="saveSite" class="submit-websites">Save your future website</button>
  </div>
  </div>
  </section>
</template>
<script>
// import store from '../store';
import { mapState, mapActions, mapGetters } from 'vuex';
import store from '../../../store'
import { savedwebsites } from '../../../store/getters';
export default {
  name: "Home",
  data () {
    return {
      websiteItem : '',
      check: false,
      websiteItems : [],
      responsedate: '',
      responsecolor: '',
    }
  },
      computed :
        mapState([
          'currenturl',
          'savedwebsites'
          ]),

      methods : {
        ...mapActions(['updateSavedWebsites']),
        getApi(){
          this.$http.post(`https://watchdog-api.cryptopolice.com/api/verify?domain=${this.currenturl}`).then(function(data){
            console.log(data)
            // this.$data.responsebody = data.body.response
            if(data.body.response!==null){
              this.responsedate = data.body.response.whois.payload.registration.value
              this.responsecolor = data.body.response.whois.payload.registration.color

                }else{
                    alert('No domain defined!')
                  }
          })
          this.check = true;
        },

        saveSite(){
          this.websiteItems.push(this.websiteItem);
          this.websiteItem = '';
          store.dispatch('updateSavedWebsites',this.websiteItems)
          console.log(this.savedwebsites)
        },
           clearContent(){
      this.check = false;
      this.responsecolor = '',
      this.responsedate = ''
    },
        }
      }
</script>
<style lang="scss" scoped>
.submit-websites{
      border: none;
    font-size: 12px;
    background: black;
    color: #fff;
    border-radius: 9px;
    padding: 7px;
    font-family: inherit;
}

.submit-websites:active{
  outline: none;
}
h2{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}

ul li{
  padding: 10px 0;
}
.response-url {
    border: 1px solid #dedede;
    padding: 5px;
    margin: 5px 0;
}

#request-cta {
    margin: 10px 0;
    border-radius: 7px;
    color: #fff;
    padding: 10px;
    background-color: black;
    outline: none;
    border: none;
}

.future-websites{
  text-align: center;
  margin: 30px 0;
display: flex;
}

.clear-content{
    padding: 5px;
    border: none;
    background: darkslategrey;
    color: #fff;
    font-family: inherit;
    border-radius: 8px;
    outline: none;
}
.submit-websites-cta{
  display: flex;
    justify-content: space-around;
    margin: 30px 0;
    background: cadetblue;
    padding: 30px 0;
}
</style>

