<template>
    <section>
        <div id="main-content">
        <h3>List your future websites to check here!</h3>
        <ul>
            <li v-for="item in savedwebsites">
                {{item}}
            </li>
        </ul>
        <h5 v-if="savedwebsites.length===0">Right now you dont have any save websites... :(</h5>
        </div>
    </section>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import store from '../../../store'
export default {
data(){
    return{

    }
},

mounted: mapState(['savedwebsites']),

computed: {
    ...mapState(['savedwebsites']),
}
}
</script>
<style scoped>
ul{
    list-style: none;
    margin: 0;
    padding: 0
}

ul li{
    margin: 10px 0;
    border: 1px solid #dedede;
    padding: 10px;
}
</style>


